<h1>ImpyMoney</h1>

User: <%= @user.email %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<br><br>

<%= link_to 'Recurring transactions', controller: 'recurring_transactions' %><br>


<%= link_to 'Transactions', controller: 'transactions' %><br>
